<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" href="#">Guardianes Del Globo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="navbar-text">
        <a class="nav-link" href="#" [routerLink]="['/People']">Personas</a>
      </li>
      <li class="navbar-text">
        <a class="nav-link" href="#" [routerLink]="['/Heroes']">Heroes</a>
      </li>
      <li class="navbar-text">
        <a class="nav-link" href="#" [routerLink]="['/Villains']">Villanos</a>
      </li>
      <li class="navbar-text">
        <a class="nav-link" href="#" [routerLink]="['/Sponsors']">Patrocinadores</a>
      </li>
      <li class="navbar-text">
        <a class="nav-link" href="#" [routerLink]="['/Habilities']">Habilidades</a>
      </li>
      <li class="navbar-text">
        <a class="nav-link" href="#" [routerLink]="['/Debilities']">Debilidades</a>
      </li>
    </ul>
  </div>
</nav>