<header class="header">
    <div class="container vh-50 ">
      <!-- Descripcion -->
      <div class="row h-100 align-items-center">
        <div class="col-6 text-white">
          <!-- titulo -->
          <h1 class="text-capitalize">
            <span class="both h4">Defensores del globo</span> <br>
            Cuidamos la ciudadania
          </h1>
          <!-- Descripcion -->
          <p>
            Somos los guardianes del globo y luchamos para <br>
            proteger el mundo de las constantes amenazas que<br>
            aparacen.
          </p>
          <!-- Btn -->
          <a href="#" class="text-reset btn btn-secondary botonCompra both">Mira nuestra lista de heroes</a>
        </div>
      </div>
    </div>
    <img src="../../../../../assets/Images/cut-header.svg" alt="">
  </header>
  
  