<h1 mat-dialog-title>Modificar persona {{data.name}}</h1>
<div mat-dialog-content class="tabla">
    <mat-form-field>
        <mat-label >Id</mat-label>
        <input matInput [(ngModel)]="data.id">
    </mat-form-field>
    <p>¿Cual es el nombre de la persona?</p>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <p>¿Cual es la edad?</p>
    <mat-form-field>
        <mat-label>Edad</mat-label>
        <input matInput [(ngModel)]="data.age">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button (click)="onNoClick()">Cancelar</button>
    <button mat-stroked-button [mat-dialog-close]="data" class="bg-primary text-white">Crear</button>
</div>