.father{
    position: relative;
}

.son{
    margin: 0 auto;
    margin-top: 5%;
    width: 50%;
}

.botonLimpiar{
    margin-right: 5px;
    
}
.form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

mat-form-field{
    width: 100%;
}

.titulos{
    margin-left: 5%;

}
mat-header-cell, mat-cell {
    justify-content: center;
}