<div class="father">
    <div class="son card-header mat-elevation-z8 ">
        <span class="titulos">Filtro búsqueda</span>

        <form [formGroup]="form" class="form p-4 pb-0 ">

            <div>
                <mat-form-field class="camposForm">
                    <mat-label>Nombre</mat-label>
                    <input matInput 
                    [autocomplete]="'off'" 
                    formControlName="nombre"
                    (keyup.enter)="buscarPorNombre()">
                </mat-form-field>
            </div>

            <!-- <div>
                <mat-form-field class="camposForm">
                    <mat-label>Habilidad</mat-label>
                    <input matInput 
                    [autocomplete]="'off'" 
                    formControlName="habilidad"
                    >
                </mat-form-field>
            </div> -->

            <mat-form-field>
                <mat-label>Habilidad</mat-label>
                <mat-select [(ngModel)]="habilidadEscogida"  >
                    <mat-option *ngFor="let habilidad of habilidades" [value]="habilidad" (change)="onChange($event.target)">
                        {{habilidad.name}}
                      </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <div class="px-2">
                <mat-form-field class="camposForm" >
                    <mat-label>Rango</mat-label>
                    <mat-select formControlName="edad">
                        <mat-option>
                            <ngx-mat-select-search
                            formControlName="rolFilter" placeholderLabel="Buscando..."
                            noEntriesFoundLabel="Vacio"></ngx-mat-select-search>
                        </mat-option> 
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="px-2">
                <mat-form-field class="camposForm" >
                    <mat-label>Rango</mat-label>
                    <mat-select formControlName="relacion">
                        <mat-option>
                            <ngx-mat-select-search
                            formControlName="rolFilter" placeholderLabel="Buscando..."
                            noEntriesFoundLabel="Vacio"></ngx-mat-select-search>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>-->
            <div class="pt-0 pb-4">
                <button mat-stroked-button class="bg-primary px-10 mr-2" (click)="resetForm()" type="button">
                    <mat-icon matSuffix class="text-white">close</mat-icon>
                    <mat-label class="text-white">limpiar</mat-label>
                </button>
            </div>
        </form>
    </div>
    <div class="son mt-5 mat-elevation-z8">
        <div
            class="items-center card-header ">
            <span class="titulos">Lista de heroes</span>
        </div>

        <mat-table [dataSource]="dataSource" class="w-full" fuseScrollbar>

            <ng-container matColumnDef="Id" >
                <mat-header-cell *matHeaderCellDef class="min-w-40" color = 'green'>
                    <div class="w-full px-2 text-principal-900">Id Persona</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let heroe" class="min-w-40">
                    <span class="w-full px-2 text-center">{{heroe.id}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Wins">
                <mat-header-cell *matHeaderCellDef class="min-w-40">
                    <div class="w-full px-2 text-principal-900">Wins</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let heroe" class="min-w-40">
                    <span class="w-full px-2 text-center">{{heroe.wins}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Nombre">
                <mat-header-cell *matHeaderCellDef class="min-w-40">
                    <div class="w-full px-2 text-principal-900">Nombre</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let heroe" class="min-w-40">
                    <span class="w-full px-2 text-center">{{heroe.name}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Edad">
                <mat-header-cell *matHeaderCellDef class="min-w-40">
                    <div class="w-full px-2 text-principal-900">Edad</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let heroe" class="min-w-40">
                    <span class="w-full px-2 text-center">{{heroe.edad}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Rango">
                <mat-header-cell *matHeaderCellDef class="min-w-40">
                    <div class="w-full px-2 text-principal-900">Rango</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let heroe" class="min-w-40">
                    <span class="w-full px-2 text-center">{{heroe.rangoEdad}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Habilidad">
                <mat-header-cell *matHeaderCellDef class="min-w-40">
                    <div class="w-full px-2 text-principal-900">Habilidad</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let heroe" class="min-w-40">
                    <span class="w-full px-2 text-center">{{heroe.nombreHabilidad}}</span>
                </mat-cell>
            </ng-container>
            


            <ng-container matColumnDef="Opciones">
                <mat-header-cell *matHeaderCellDef class="min-w-40">
                    <div class="w-full px-2 text-principal-900">Opciones</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let heroe" class="min-w-40">
                    <button mat-mini-fab class="bg-primary botonLimpiar text-center" type="button" >
                        <mat-icon matSuffix class="text-white">edit</mat-icon>
                    </button>
                    <button mat-mini-fab class="bg-warning" type="button">
                        <mat-icon matSuffix class="text-white">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>

            <mat-row *matRowDef="let item; let even= even; columns:displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>