<div class="footer text-black">
    <div class="container">
        <nav class="row">
            <a href="#" class="col-3 text-reset text-uppercase d-flex align-items-center">
                
            </a>
  
            <!-- menu -->
            <ul class="col-3 list-unstyled mr-auto">
              <li class="font-weight-bold text-uppercase">Informacion</li>
              <li><a href="#" class="text-reset">Nosotros</a></li>
              <li><a href="#" class="text-reset">Nuestros productos</a></li>
            </ul>
  
            <ul class="col-3 list-unstyled mr-auto">
              <li class="font-weight-bold text-uppercase">Empleados</li>
            </ul>
        </nav>
  
  
  
  
    </div>
  </div>